<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product}}" class="img-fluid rounded-start" alt="item">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}   </h5>
        
        {% if view_all %}
            <p class="card-text">{{product.desc}}</p>
        {% else %}
            <p class="card-text">{{product.desc | truncate(100)}}</p>
        {% endif %}

        <small><a href="{{url_for('store.get_a_product', id=product.id)}}">view item</a></small>
        <br>
        <button type="submit" class="btn btn-primary">Add to Cart</button>               

        {% if current_user.id == product.id  %}
          <small><a href="{{url_for('auth.', id=product.id)}}">Delete</a></small>

        {% endif %} #}

      {# 'value if true ' if condition else 'value if false' #}

        {# <p class="card-text"><small class="text-muted">
        {{moment(post.date_created).fromNow()}}
        <span class="float-end" style="color:lightcoral">
         {{'edited:' + moment(post.date_updated).fromNow() | string() if post.date_updated else '' }}
        </span>

        </small></p> #}



      </div>
    </div>
  </div>
</div>