{% extends 'base.html.j2' %}
{% block title %}
  Cart
{% endblock %}
<h1></h1>
{% block content %}







<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product}}" class="img-fluid rounded-start" alt="item">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}  product: </h5>
        
        {% if view_all %}
            <p class="card-text">{{product.desc}}</p>
        {% else %}
            <p class="card-text">{{product.desc | truncate(100)}}</p>
        {% endif %}

        <small><a href="{{url_for('store.get_a_product', id=product.id)}}">View Product</a></small>
        {% include './includes/_cart_card.html.j2' %}

        
      </div>
    </div>
  </div>
</div>
{% endblock %}