{% extends 'base.html.j2' %}
{% block title %}
    Homepage
{% endblock %}

{% block content %}

    <div class="container box_container"  >
        <div>
            <h1 class="card" style="border-radius: 50%; width: 30%;">List of products</h1></a>
        </div>
    
        <h1 style="color:darkgreen">Products</h1>
        <div class="row">
            
            {% for product in products %}
            <form method="POST" action="{{url_for('api.index')}}/?product_id={{product.id}}&user_id={{product.user_id}}">
                Product: {{product.name}}
                id: {{product.id}}
                desc:{{product.desc}}
                price:{{product.price}}
                img:{{product.img}}
                created_on:{{product.created_on}}
                
                <img src="{{product.img}}" />
                <br>
                User First Name: <strong>{{product.user_id}}</strong>



                <button type="submit" class="btn btn-primary">Adding Product</button>               
            </form>
            {% endfor %}        

        </div>    
    </div>


{% endblock %}
